body{
    background-color: rgb(225, 248, 252);
}

#prod_title {
    color: rgb(97, 94, 94);
}

#clear_check {
    margin: auto;
    padding-bottom: 100px;
}

.container {
    padding-top: 60px;
    font-family: 'Nunito', sans-serif;
}

nav {
    background-color: rgb(179, 243, 253);
}

#home {
    text-decoration: none;
    color: black;
}

#cartgo {
    text-decoration: none;
    padding-left: 1rem;
    color: green;
}

#fatree {
    color: green;
}

#wishlist {
    color: rgb(250, 44, 44);
}

#cartinfo, #urwish {
    margin: 16px 0px 8px;
}

#table {
    padding: 24px;
}